/* Main */
.blogs-main{
    display: grid;
}
.blogs-news-container{
    background-color: rgb(230, 233, 237);
    padding: 0px 50px 40px;
}
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-news-img-container{
    grid-column: 1;
}
.blogs-news-img-container img{
    width: 80%;
}
.blogs-news-info-container{
    grid-column: 2;
}
.blogs-news-info-container p {
    margin-bottom: 35px;
}
.blogs-posts-container{
    padding: 0 50px 40px;
    text-align: center;
}
.blogs-posts-container h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}
.blogs-button{
    border: 2px solid rgb(71, 207, 172);
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
}
.blogs-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
    text-align: left;
}
.blogs-posts-container .post-container p{
    margin-bottom: 35px;
}
.blogs-posts-container .post-container img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
/* Footer */
footer{
    width: 100%;
    height: 80px;
    background-color: rgb(39, 39, 39);
    border-top: 35px solid rgb(71, 207, 172);
    text-align: center;
}
footer p{
    color: white;
    margin-top: 30px;
}