.contact-main-container{
    width: 100%;
    min-height: 250px;
    background-color: rgb(203, 203, 203);
    text-align: center;
    padding-bottom: 50px;
}
.contact-main-container div{
    display: inline-block;
    width: 49.5%;
    height: 100%;
}
.contact-main-container div a{
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 5px;
}
.contact-main-container .contact-left, .contact-right{
    text-align: initial;
    margin-top: 85px;
}
.contact-main-container img{
    width: 100px;
    height: 100px;
}

@media (max-width:900px) {
}
@media (max-width:750px) {
}