
.modal {
    font-family: 'Mitr', sans-serif;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modalContent {
    display: grid;
    grid-template-rows: 1fr .1fr;
    position: absolute;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
    background-color: rgb(0 64 95);
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    color: white;
    justify-items: center;
}
.close-container{
    width: 100%;
    height: auto;
    text-align: center;
}
.close{
    cursor: pointer;
}  
.titulo-correo{
    /* margin: 0px; */
    text-align: center;
}
.correo{
    font-size: xx-large;
    margin: 0px;
    text-shadow: 1px 1px 0px #03a5ff;
}





.comentario-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.comentario{
    padding: 0px;
    margin: 0px;
    color: rgb(0 0 0 / 43%);
    place-self: center;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icon-container{
    position: fixed;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(0 51 76);
}
header .header-icon-container .icons{
    width: 500px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
}
header .header-icon-container .icons .icon{
    width: 40px;
    height: 40px;
}
nav{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    background-color: rgb(39, 39, 39);
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .profile-link-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
    gap: 20px;
}

nav .nav-logo-container img{
    width: 200px;
    margin-top: 0px;
}
nav .profile-link-left a, .profile-link-right a{
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}

@media (max-width:900px) {

}
@media (max-width:750px) {

}
@media (max-width:617px) {
    header {
        width: 100%;
        height: 84px;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}
@media (max-width:428px) {
    header .header-icon-container{
        height: 50px;
        background-color: rgb(0 51 76);
        position: fixed;
    }
    header .header-icon-container .icons{
        margin: 0;
        width: 100%;
        height: auto;
        justify-items: center;
        align-items: center;
        justify-content: space-around;
        /* justify-self: end; */
        /* margin-right: 50px; */
    }
    nav {
        padding-top: 0;
        width: auto;
        display: flex;
        background-color: rgb(39, 39, 39);
        justify-content: space-around;
        flex-direction: row;
        height: 38px;
    }
    nav .profile-link-left a, .profile-link-right a {
        color: rgb(255, 255, 255);
        font-size: 0.9rem;
        border-bottom: 1px solid rgb(255, 255, 255);
    }
    nav .profile-link-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 10px;
        gap: 20px;
    }
    nav .profile-link-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
    }
    .profile-main-name {
        text-align: center;
        padding: 20px;
    }
}

@media (min-width:3840px) {
    header {
        width: 100%;
        height: 140px;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    header .header-icon-container {
        position: fixed;
        justify-content: space-evenly;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        background-color: #00334c;
    }
    header .header-icon-container .icons {
        width: 1000px;
        height: auto;
        display: flex;
        justify-items: flex-end;
        align-items: center;
        justify-content: space-between;
        justify-self: end;
    }
    header .header-icon-container .icons .icon {
        width: 80px;
        height: auto;
    }
    nav {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 180px;
        background-color: #272727;
    }
    .comentario {
        padding: 0;
        margin: 0;
        color: rgba(0,0,0,.43);
        font-size: -webkit-xxx-large;
    }
}