@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-image: url('../assets/img/wallpaper-astronaut.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    height: calc(100vh - 140px) */
    
    
}
a{
    text-decoration: none;
    display: inline;
    color: rgb(0, 0, 0);
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icon-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: rgb(71, 207, 172);
}
header .header-icon-container .icons{
    width: 500px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .header-icon-container .icons .icon{
    width: 40px;
    height: 40px;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}
nav .profile-link a{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}

