.profile-main-projects h3{
    margin-top: 0px;
    padding-bottom: 5px;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
    background: linear-gradient(0deg, rgb(39 39 39) 0%, rgb(39 39 39) 100%);
    color: #ffffff;
    font-size: 2rem;
    padding-top: 2px;
    margin-bottom: 4px;
}
.profile-main-projects .grid-container div h3 span .profile-main-gif {
    width: 90px;
    height: 90px;
}
.comentario-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.comentario{
    padding: 0px;
    margin: 0px;
    color: rgb(0 0 0 / 43%);
}
.projects-main-container {
    padding: 0% 1% 1%;
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: column;
}
.project-container {
    background-color: rgb(2 57 84);
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 0.5% 0.5%; */
    margin: 1% 1%;
    text-align: center;
    color: white;
    border-radius: 15px;
    width: 98%;
    flex-direction: row;
    justify-items: stretch;
}
.project-foto {
    width: 100%;
    height: auto;
    padding: 0 0 0px 0px;
    margin: 0px 0px 0px 0px;
}
.project-foto img {
    /* width: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.text-project-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.titulo-project{
    margin: 8px;
    font-size: 2.4rem;
}
.text-project{
    display: flex;
    /* color: rgb(0 255 127); */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hechoCon{
    font-size: 17px;
    color: rgb(127 255 0);
    background: black;
    padding: 5px;
    margin: 1px;
    border-radius: 3px;

}
.links-project-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.links-project-container span{
    color: rgb(0 255 255);
}
.link-project{
    color: rgb(0 255 255);
}

@media (max-width:900px) {
    .project-foto {
        width: 100%;
        height: auto;
        padding: 0 0 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    .project-foto img {
        /* width: 100%; */
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        margin: 0;
        padding: 0;
    }
}
@media (max-width:750px) {
    
    .links-project-container {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .comentario {
        font-size: inherit;
        text-align: center;
        padding: 0px;
        margin: 0px;
        color: rgb(0 0 0 / 43%);
    }
    /* Perfil */
    .projects-main-container {
        display: flex;
        /* grid-template-columns: 1fr; */
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .project-container {
        background-color: rgb(0 51 76);
        display: flex;
        padding: 0.5% 0.5%;
        margin: 1% 1%;
        text-align: center;
        color: white;
        border-radius: 15px;
        /* justify-content: center; */
        width: 95%;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .project-foto {
        width: 100%;
        height: auto;
        padding: 0 0 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    .project-foto img {
        /* width: 100%; */
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        margin: 0;
        padding: 0;
    }
}
@media (min-width:2560px) {
.profile-main-projects h3{
    margin-top: 0px;
    padding-bottom: 5px;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
    background: linear-gradient(0deg, rgb(39 39 39) 0%, rgb(39 39 39) 100%);
    color: #ffffff;
    font-size: 2rem;
    padding-top: 2px;
    margin-bottom: 4px;
}
.profile-main-projects .grid-container div h3 span .profile-main-gif {
    width: 90px;
    height: 90px;
}
.comentario-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.comentario{
    padding: 0px;
    margin: 0px;
    color: rgb(0 0 0 / 43%);
}
.projects-main-container {
    padding: 0% 1% 1%;
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: column;
}
.project-container {
    background-color: rgb(2 57 84);
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 0.5% 0.5%; */
    margin: 1% 1%;
    text-align: center;
    color: white;
    border-radius: 15px;
    width: 98%;
    flex-direction: row;
    justify-items: stretch;
}
.project-foto {
    width: 100%;
    height: auto;
    padding: 0 0 0px 0px;
    margin: 0px 0px 0px 0px;
}
.project-foto img {
    /* width: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.text-project-container {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.titulo-project{
    margin: 8px;
    font-size: 7rem;
}
.text-project{
    display: flex;
    /* color: rgb(0 255 127); */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hechoCon{
    font-size: 17px;
    color: rgb(127 255 0);
    background: black;
    padding: 5px;
    margin: 1px;
    border-radius: 3px;

}
.link-project{
    color: rgb(0 255 255);
}
}
@media (min-width:3840px) {
    .profile-main-projects h3{
        margin-top: 0px;
        padding-bottom: 5px;
        /* text-align: center; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px;
        background: linear-gradient(0deg, rgb(39 39 39) 0%, rgb(39 39 39) 100%);
        color: #ffffff;
        font-size: 5.3rem;
        padding-top: 2px;
        margin-bottom: 4px;
}
.profile-main-projects .grid-container div h3 span .profile-main-gif {
    width: 200px;
    height: 200px;
}
.comentario-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.comentario{
    padding: 0px;
    margin: 0px;
    color: rgb(0 0 0 / 43%);
}
.projects-main-container {
    padding: 0% 1% 1%;
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: column;
}
.project-container {
    background-color: rgb(2 57 84);
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 0.5% 0.5%; */
    margin: 1% 1%;
    text-align: center;
    color: white;
    border-radius: 15px;
    width: 98%;
    flex-direction: row;
    justify-items: stretch;
}
.project-foto {
    width: 100%;
    height: auto;
    padding: 0 0 0px 0px;
    margin: 0px 0px 0px 0px;
}
.project-foto img {
    /* width: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.text-project-container {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.titulo-project{
    margin: 8px;
    font-size: 7rem;
}
.text-project{
    display: flex;
    /* color: rgb(0 255 127); */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hechoCon {
    font-size: 3rem;
    color: rgb(127 255 0);
    background: black;
    padding: 13px;
    margin: 8px;
    border-radius: 3px;
}

.link-project{
    color: rgb(0 255 255);
    font-size: 3rem;
}
}
@media (max-width: 321px) {
    .profile-main-projects h3 {
        font-size: 1.5rem;
    }
    .titulo-project {
        font-size: 1.5rem;
    }
    .hechoCon {
        font-size: 13px;
        color: rgb(127 255 0);
        background: black;
        padding: 5px;
        margin: 1px;
        border-radius: 3px;
    }
    .links-project-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
}