.profile-main-name{
    background: rgb(0 51 76);
    text-align: center;
    padding: 20px;
}
.profile-main-name h1{
    color: rgb(255 255 255);
    margin: 0;
    font-size: 45px;
}
.profile-main-name span{
    text-shadow: 3px 1px 0px rgb(3 165 255);
    font-size: 3rem;
    color: rgb(255 255 255);
}
.profile-main-container{
    padding: 30px 30px;
    background: linear-gradient(0deg, rgb(0 51 76) 0%, rgb(0 51 76) 100%);
    margin-bottom: 0px;
}

.profile-foto-container{
    margin-right: 30px;
}
.profile-foto-info{
    text-align: center;
    color: rgb(0 255 255 / 65%);
    padding: 0;
    margin: 0;
}

.profile-main-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 30px;
}
.profile-main-container .profile-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.profile-main-text {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.resaltado{
    text-shadow: 2px 1px 0px rgb(3 165 255);
    color: rgb(255 255 255);
}
.yo-h2{
    font-size: 28px;
}
.yo-h3{
    font-size: 20px;
}
/* .profile-main-projects{
    padding: 0 50px 40px;
} */

@media (max-width:900px) {
    /* Perfil */
    .projects-main-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    /* .profile-main-container .profile-container{
        display: block;
    } */
    .profile-main-name {
        background: rgb(0 51 76);
        text-align: center;
        padding: 20px;
    }
    .profile-main-name h1 {
        color: rgb(255 255 255);
        margin: 0;
        display: grid;
    }
    .profile-main-container {
        display: grid;
        justify-items: center;
    }
}
@media (max-width:600px) {
    /* Perfil */
    .projects-main-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width:617px) {
    .profile-main-name {
        background: rgb(0 51 76);
        text-align: center;
        padding: 20px;
    }
    .profile-main-name h1 {
        color: rgb(255 255 255);
        margin: 0;
        display: grid;
    }
    .profile-main-container {
        display: grid;
        padding: 10px 10px;
        background: linear-gradient(0deg, rgb(0 51 76) 0%, rgb(0 51 76) 100%);
        margin-bottom: 0px;
        justify-items: center;
    }
}
@media (max-width:425px) {
    .profile-main-container img {
        width: 65%;
        height: auto;
        object-fit: cover;
        margin: 0px;
        border-radius: 30px;
    }
    /* .profile-main-foto-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } */
    .profile-main-container .profile-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    
    
}
@media (max-width:431px) {
    .profile-main-container .profile-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
}
