@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    /* background-image: url('../assets/img/wallpaper-astronaut.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    height: calc(100vh - 140px) */
}
/* .grid-container{
    max-width: 1280px;
    margin: auto;
} */
a{
    text-decoration: none;
    display: inline;
    color: rgb(0, 0, 0);
}
footer{
    
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(39, 39, 39);
    /* border-top: 1px solid rgb(0 51 76); */
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
footer p{
    color: white;
    /* margin-top: 30px; */
}

@media (max-width:900px) {
    /* Blogs */
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container{
        grid-row: 2;
    }
    .blogs-news-info-container{
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container{
        max-width: 45%;
    }
    /* Perfil */
    .projects-main-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container{
        display: block;
    }
}
@media (max-width:750px) {
    /* Blogs */
    .blogs-posts-container .post-container{
        max-width: 95%;
    }
    /* Perfil */
    .projects-main-container {
        grid-template-columns: 1fr;
    }
}