@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    /* background-image: url('../assets/img/wallpaper-astronaut.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    height: calc(100vh - 140px) */
}
/* .grid-container{
    max-width: 1280px;
    margin: auto;
} */
a{
    text-decoration: none;
    display: inline;
    color: rgb(0, 0, 0);
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icon-container{
    position: fixed;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(0 51 76);
}
header .header-icon-container .icons{
    width: 500px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
}
header .header-icon-container .icons .icon{
    width: 40px;
    height: 40px;
}
nav{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    background-color: rgb(39, 39, 39);
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .profile-link-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
    gap: 20px;
}

nav .nav-logo-container img{
    width: 200px;
    margin-top: 0px;
}
nav .profile-link-left a, .profile-link-right a{
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}

@media (max-width:900px) {
    /* Perfil */
    .projects-main-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container{
        display: block;
    }
}
@media (max-width:750px) {
    /* Perfil */
    .projects-main-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width:617px) {
    header {
        width: 100%;
        height: 140px;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}
@media (max-width:425px) {
    header .header-icon-container{
        height: 50px;
        display: grid;
        background-color: rgb(0 51 76);
        position: fixed;
    }
    header .header-icon-container .icons{
        margin: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: space-around;
        /* justify-self: end; */
        /* margin-right: 50px; */
    }
    nav {
        width: auto;
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        height: 90px;
        background-color: rgb(39, 39, 39);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-around;
        padding-top: 50px;
    }
    nav .profile-link-left {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 10px;
        gap: 80px;
    }
    nav .profile-link-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
    }
    .profile-main-name {
        text-align: center;
        padding: 20px;
    }
}