@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    /* background-image: url('../assets/img/wallpaper-astronaut.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    height: calc(100vh - 140px) */
}
/* .grid-container{
    max-width: 1280px;
    margin: auto;
} */
a{
    text-decoration: none;
    display: inline;
    color: rgb(0, 0, 0);
}
/* Main */
.profile-main-name{
    background: rgb(0 51 76);
    text-align: center;
    padding: 20px;
}
.profile-main-name h1{
    color: rgb(255 255 255);
    margin: 0;
}
.profile-main-name span{
    text-shadow: 3px 1px 0px rgb(3 165 255);
    font-size: 3rem;
    color: rgb(255 255 255);
}
.profile-main-container{
    padding: 70px 40px;
    background: linear-gradient(0deg, rgb(0 51 76) 0%, rgb(0 51 76) 100%);
    margin-bottom: 0px;
}
.profile-main-container img{
    width: 320px;
    height: 306px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 30px;
}
.profile-main-container .profile-container{
    display: flex;
}
.profile-main-text{
    color: rgb(255, 255, 255);
}
/* .profile-main-projects{
    padding: 0 50px 40px;
} */

@media (max-width:900px) {
    /* Blogs */
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container{
        grid-row: 2;
    }
    .blogs-news-info-container{
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container{
        max-width: 45%;
    }
    /* Perfil */
    .projects-main-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container{
        display: block;
    }
    .profile-main-name {
        background: rgb(0 51 76);
        text-align: center;
        padding: 20px;
    }
    .profile-main-name h1 {
        color: rgb(255 255 255);
        margin: 0;
        display: grid;
    }
    .profile-main-container {
        display: grid;
        justify-items: center;
    }
}
@media (max-width:600px) {
    /* Perfil */
    .projects-main-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width:617px) {
    .profile-main-name {
        background: rgb(0 51 76);
        text-align: center;
        padding: 20px;
    }
    .profile-main-name h1 {
        color: rgb(255 255 255);
        margin: 0;
        display: grid;
    }
    .profile-main-container {
        display: grid;
        padding: 70px 40px;
        background: linear-gradient(0deg, rgb(0 51 76) 0%, rgb(0 51 76) 100%);
        margin-bottom: 0px;
        justify-items: center;
    }
}
@media (max-width:425px) {
    .profile-main-container img {
        width: 216px;
        height: 216px;
        object-fit: cover;
        margin: 0px;
        border-radius: 30px;
    }
    .profile-main-foto-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
}